click

# Talking to RPi GPIO stuff
pigpio

# Sensors #
###########

# for DS18B20 Waterproof sensor
w1thermsensor

# for Adafruit BME680 Temperature, Humidity, Air Pressure, Air Quality Sensor
Adafruit_PureIO
adafruit-circuitpython-bme680

# sending data over mqtt
paho-mqtt

# development helpers
ipython
ipdb
