[Unit]
Description=weather_station
Requires=multi-user.target,pigpiod.service

[Service]
ExecStart=/home/pi/weather_station/.venv/bin/weather_station
EnvironmentFile=/home/pi/.weather_station_env
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
